.DS_Store
node_modules
.next
.next-broken-*
.node_modules-broken-*
out
build
coverage
.env
.env*.local
*.log
*.tsbuildinfo
vercel
.vercel
public/videos/New videos/
public/**/*.DS_Store
public/**/*.heic
public/**/*.HEIC
